<div class="samples">

  <h3>Samples and tests!</h3>

  <section>
    <button mat-flat-button color="primary" (click)="sampleCoursesQuery()">
      Click to Trigger a Sample Query for courses
    </button>
    <div *ngIf="courses" class="courses-viewer">
      <ngx-json-viewer [json]="courses" [expanded]="false"></ngx-json-viewer>
    </div>
  </section>

  <section>
    <button mat-flat-button color="primary" (click)="batchUpdate()">
      Click to Update Courses in Batch
    </button>

    <div *ngIf="coursesUpdatedInBatch" class="courses-viewer">
      <ngx-json-viewer [json]="coursesUpdatedInBatch" [expanded]="false"></ngx-json-viewer>
    </div>
  </section>

  <section>
    <button mat-flat-button color="primary" (click)="transactionUpdate()">
      Click to Update lessons count in a Transaction
    </button>

    <div *ngIf="courseUpdatedInTransaction" class="courses-viewer">
      <ngx-json-viewer [json]="courseUpdatedInTransaction" [expanded]="false"></ngx-json-viewer>
    </div>
  </section>

</div>