<mat-card *ngFor="let course of courses" class="course-card">
  <img mat-card-image [src]="course.uploadedImageUrl ? course.uploadedImageUrl : course?.iconUrl" />

  <h2 class="course-card__title">
    {{ course?.titles?.description }}
  </h2>

  <mat-card-actions class="course-card__actions">
    <button mat-button color="primary" [routerLink]="['/courses', course.url]">
      View
    </button>
    <button mat-button color="accent" (click)="editCourse(course)">
      Edit
    </button>
  </mat-card-actions>
</mat-card>