.mat-form-field {
  display: block;
}

textarea {
  height: 100px;
  resize: vertical;
}

.buttons {
  justify-content: center;

  button {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.file-input-wrapper {
  padding: 15px 0;

  label {
    display: block;
    margin-bottom: 15px;
  }
}

.upload-progress {
  display: flex;
  margin: 10px;
}

.progress-bar {
  margin: 10px;
  width: 300px;
}

.uploaded-image {
  max-width: 250px;
}
