<h2 mat-dialog-title>{{ course.name }}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Course Description" formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description">
    </textarea>
  </mat-form-field>

  <div class="file-input-wrapper">
    <label for="image">Choose an image:</label>
    <input type="file" name="image" id="image" (change)="getFile($event)">
  </div>
</mat-dialog-content>

<mat-dialog-actions class="buttons">
  <button mat-flat-button color="accent" (click)="close()">
    Close
  </button>
  <button mat-flat-button color="primary" (click)="save()">
    Save
  </button>
</mat-dialog-actions>