.course {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.course-thumbnail {
  width: 200px;
  border-radius: 4px;
  margin: 20px auto;
  display: block;
}

.mat-column-seqNo {
  flex-grow: 1;
}

.mat-column-description {
  flex-grow: 7;
  text-align: left;
  margin: 10px auto;
  padding-right: 10px;
}

.mat-column-duration {
  flex-grow: 2;
  text-align: center;

  mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  }
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
  
  mat-spinner {
    margin: 130px auto 0 auto;
  }
}

.lessons-table {
  margin-top: 10px;
  margin-bottom: 20px;
}

.bottom-toolbar {
  margin: 30px 0;
  font-size: 18px;
}
