/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

// Include non-theme styles for core.
@include mat-core();


/**
  $mat-red
  $mat-pink
  $mat-purple
  $mat-deep-purple
  $mat-indigo
  $mat-blue
  $mat-light-blue
  $mat-cyan
  $mat-teal
  $mat-green
  $mat-light-green
  $mat-lime
  $mat-yellow
  $mat-amber
  $mat-orange
  $mat-deep-orange
  $mat-brown
  $mat-grey
*/
$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-deep-orange);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

$font-color: #444;

body,
.mat-list-item,
.mat-card,
.mat-table,
.mat-form-field,
.mat-flat-button,
.mat-drawer-container {
  font-family: Raleway, sans-serif;
}

body,
.mat-list-item,
.mat-card,
.mat-table,
.mat-form-field,
.mat-drawer-container {
  color: $font-color;
}

.mat-flat-button {
  border-radius: 0 !important;
}